<div
  class="FormGroup FormGroup--{{key}}">
  <label class="FormGroup__label" for="{{{editorId}}}">{{{title}}}</label>
  <span class="FormGroup__control" data-editor></span>
  <p class="FormGroup__errorMessage" data-error></p>
  {{#if help}}
    <p class="FormGroup__helpMessage">{{{help}}}</p>
  {{/if}}
</div>
